@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
/* font-family: 'Mochiy Pop P One', sans-serif; */
*{
    --CinzaEscuro: #757575;
    --laranja: #ffa500;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
}
body{
    background-color: var(--laranja);
}


.titulo{
    text-align: center;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mainFunction{
    width: 55vw;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
    padding: 4vh;
    background-color: white;
    border-radius: 1vh;
}

.input{
    border: none;
    background-color: white;
    border-bottom: var(--CinzaEscuro) 0.2vh solid;
    color: var(--laranja);
}
.input:focus{
    outline: none;
    border-bottom: var(--laranja) 0.2vh solid;
}

.btn{
    cursor: pointer;
    border: none;
    background-color: var(--laranja);
    color: white;
    padding: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 3vw;
    border-radius: 1vh;

    transition: 0.15s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

/*Table*/
.table{
    margin: auto;
    margin-top: 5vh;
    background-color: white;
    width: 60vw;
    border-radius: 1vh;
}
.tableLine{
    height: 10vh;
}
.tableData{
    text-align: center;
    color: var(--CinzaEscuro);
    cursor: pointer;
}
/*decricao*/
.description{
    overflow: hidden;
    max-width: 10vw;
}
.description:hover{
    cursor: pointer;
}
/*excluir da lista*/
.excluir:hover{
    cursor: pointer;
}
/*marcar feito*/
.feito{
    color: #7dd100;
    font-size: 2em;
}

/*Text Area*/
.containerTextarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    background-color: white;
    padding: 3vh;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px dotted orange;
}
.containerTextarea > span{
    color: var(--CinzaEscuro);
    padding: 1%;
}
.containerTextarea > span:hover{
    cursor: pointer;
}
.textArea{
    color: var(--CinzaEscuro);
    background-color: rgba(255, 255, 255, 0.5);
}
    textarea:focus{
        outline: none;
    }

